html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Panel*/
.panel-details {
  max-width: 300px;
  width: 300px;
  margin: 0 auto 15px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 243, 237, 0.2);
}

button {
  display: block;
  margin-left: auto;
  background: none;
  border: 0;
  cursor: pointer;
}

span {
  display: block;
  padding: 2px 0;
}

span.album {
  font-size: 11px;
}

/*form*/
form {
  width: 200px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0 0 10px;
  border: 0;
  border-radius: 5px;
  background-color: hsl(210, 9%, 96%);
}

form button {
  background-color: hsl(120, 40%, 96%);
  padding: 10px;
  border: none;
  display: block;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
